<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sureshag123</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/atul</property>
        <property name="hibernate.connection.username">atul</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping resource="Patient.hbm.xml"/>
        <mapping resource="Alert.hbm.xml"/>
        <mapping resource="IvrMsg.hbm.xml"/>
        <mapping resource="SmsMsg.hbm.xml"/>
        <mapping resource="TableStatus.hbm.xml"/>
        <mapping resource="Record.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
